---
---

@import "{{ site.theme }}";

.main-content p {
    text-align: justify;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.article-box {
  border: 5px solid red !important;
  padding: 20px !important;
}